@page
@model BackendLab01.Pages.SummaryModel
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Summary</h1>
<h3>Total Correct Answers: @Model.TotalCorrectAnswers</h3>
